@import "styles/colors";
@import "styles/mixins";

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 125px;

  @include mobile {
    margin-top: 95px;
  }

  .heading {
    color: #8c6542;
    font-family: Platform;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    width: 90%;
    @include mobile {
      font-size: 36px;
      padding: 0 20px;
    }
  }

  .subHeading {
    color: #8c6542;
    font-size: 28px;
    line-height: 34px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.56px;
  }
}

.list {
  margin-top: 50px;
  .accordionSection {
    padding: 24px 0;
    border-bottom: 1px solid #22401e;

    @include mobile {
      padding: 24px 10px;
    }

    .titleSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        display: flex;
        align-items: center;
        gap: 12px;
        .specTitle {
          cursor: pointer;
          color: #22401e;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.56px;

          @include mobile {
            font-size: 24px;
          }
        }
      }

      .openIcon {
        cursor: pointer;
      }
    }

    .specValueSection {
      display: none;
      color: #8c6542;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: -0.56px;
      transition: 0.3s ease-in-out;
      padding-top: 10px;

      @include mobile {
        font-size: 18px;
        padding-top: 7px;
      }

      &_1 {
        padding-bottom: 10px;
        padding-left: 28px;

        @include mobile {
          padding-bottom: 5px;
          padding-left: 18px;
        }
      }

      &_2 {
        padding-left: 28px;
        @include mobile {
          padding-left: 18px;
        }
      }

      &.show {
        transition: 0.3s ease-in-out;
        display: block;
      }
    }
  }
}
