@import "styles/colors";
@import "styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 125px;

  .heading {
    color: #8c6542;
    font-family: Platform;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;

    @include mobile {
      font-size: 36px;
    }
  }

  .subHeading {
    color: #8c6542;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: -0.56px;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    padding: 0 20px;
    margin-top: 95px;
  }
}

.gallaryCTA {
  display: flex;
  justify-content: flex-end;
  .galaryBtn {
    @include btn-class;
    color: #22401e;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
  }
}

.imagesSection {
  display: flex;
  align-items: center;
  gap: 18px;
  max-height: 550px;
  margin: 30px 0;

  .leftImageContainer {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100vw;

    @include mobile {
      gap: 7px;
    }
    .first {
      background-image: url("../assets/images/home-image-1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 800px;
      min-width: 800px;
      height: 600px;

      @include mobile {
        width: 414px;
        min-width: 414px;
        height: 359px;
      }
    }

    .second {
      background-image: url("../assets/images/ELIXIR-RENDER-1.png");
      background-position: center;
      width: 800px;
      min-width: 800px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;

      @include mobile {
        width: 414px;
        min-width: 414px;
        height: 359px;
      }
    }

    .third {
      background-image: url("../assets/images/ELIXIR-RENDER-2.png");
      background-position: center;
      width: 800px;
      min-width: 800px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      @include mobile {
        width: 414px;
        min-width: 414px;
        height: 359px;
      }
    }

    .fourth {
      background-image: url("../assets/images/ELIXIR-RENDER-3.png");
      background-position: center;
      width: 800px;
      min-width: 800px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      @include mobile {
        width: 414px;
        min-width: 414px;
        height: 359px;
      }
    }
    .fifth {
      background-image: url("../assets/images/ELIXIR-RENDER-4.png");
      background-position: center;
      width: 800px;
      min-width: 800px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      @include mobile {
        width: 414px;
        min-width: 414px;
        height: 359px;
      }
    }
  }

  .leftImage {
    background-image: url("../assets/images/home-image-1.png");
    background-position: center;
    width: 815px;
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rightImage {
    background-image: url("../assets/images/elixir-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 399px;
    height: 652px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.rightImageContainer {
  display: flex;
  gap: 10px;
  .rightImage {
    background-image: url("../assets/images/elixir-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 399px;
    height: 652px;

    @include mobile {
      width: 300px;
      height: 233px;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #8c6542;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.26px;

    div {
      position: relative;
      top: 18px;
      max-width: 104px;
    }

    .galaryBtn {
      position: relative;
      bottom: 20px;
      @include btn-class;
      color: #22401e;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: fit-content;
      padding: 0;
      letter-spacing: -0.4px;
    }
  }
}

.exploreSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .heading {
    color: #8c6542;
    font-family: Platform;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;

    @include mobile {
      font-size: 24px;
      padding: 0 20px;
    }
  }

  .explore {
    display: flex;

    @include mobile {
      flex-direction: column-reverse;
      gap: 20px;
    }
    &_1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 500px;
      &_text {
        color: #8c6542;
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: -0.56px;

        @include mobile {
          font-size: 22px;
          padding: 0 20px;
        }
      }

      &_greenText {
        color: #22401e;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.56px;
        @include mobile {
          font-size: 24px;
          padding: 0 20px;
        }
      }

      .explore_villas_btn {
        display: flex;
        align-items: center;
        @include btn-class;
        border-radius: 5px;
        background: #22401e;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: fit-content;
        padding: 15px 55px;
        @include mobile {
          margin-left: 20px;
        }
      }
    }

    &_2 {
      display: flex;
      gap: 24px;
      flex: 1;

      @include mobile {
        gap: 16px;
        align-items: center;
        overflow-x: auto;
        // flex-direction: column;
      }

      .villas {
        &_1 {
          position: relative;
          background-image: url("../assets/images/Elixir-east-villa.png");
          background-position: center;
          width: 399px;
          height: 408px;
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.5s ease-in-out;

          &.showImage {
            background-image: none;
            background-color: #8c6542;
          }

          .plusBtn {
            @include btn-class;
            @include display-row-center;
            position: absolute;
            top: 7px;
            right: 10px;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            background-color: #7a8c51;
            @include mobile {
              width: 20px;
              height: 20px;
              right: 14px;
            }
          }

          @include mobile {
            width: 248px;
            height: 248px;
            background-image: url("../public/images/Elixir_east.png");
          }

          .villas_text {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 16px 10px;
            color: #fcfbfa;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.4px;
            width: 380px;
            max-height: 40px;
            background: linear-gradient(
              182deg,
              rgba(29, 29, 31, 0) -13.93%,
              #1d1d1f 92.75%
            );
            @include mobile {
              font-size: 14px;
              width: 240px;
            }
          }

          .villas_1_para {
            padding: 30px 16px;
            color: #fff;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 36px;
            letter-spacing: -0.7px;

            @include mobile {
              padding: 16px;
              font-size: 20px;
            }
          }
        }

        &_2 {
          position: relative;
          background-image: url("../assets/images/Elixir_west-side.png");
          width: 399px;
          height: 408px;
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.5s ease-in-out;

          &.showImage {
            background-image: none;
            background-color: #8c6542;
          }

          .plusBtn {
            @include btn-class;
            @include display-row-center;
            position: absolute;
            top: 7px;
            right: 10px;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            background-color: #7a8c51;
            @include mobile {
              width: 20px;
              height: 20px;
              right: 14px;
            }
          }

          @include mobile {
            background-image: url("../public/images/Elixir_west.png");
            width: 248px;
            height: 248px;
          }

          .villas_text {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 16px 10px;
            color: #fcfbfa;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.4px;
            width: 399px;
            max-height: 40px;
            background: linear-gradient(
              182deg,
              rgba(29, 29, 31, 0) -13.93%,
              #1d1d1f 92.75%
            );
            @include mobile {
              font-size: 14px;
              width: 240px;
            }
          }

          .villas_2_para {
            padding: 30px 16px;
            color: #fff;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 36px;
            letter-spacing: -0.7px;

            @include mobile {
              padding: 16px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.ourLocationSection {
  position: relative;
  height: 100%;
  min-height: 1000px;
  padding: 36px 104px;
  background-color: #7a8c51;
  margin-top: 80px;

  @include mobile {
    padding: 30px 20px;
    min-height: 550px;
  }

  .ourLocation {
    font-family: Platform;
    color: #fcfbfa;
    font-size: 40px;
    letter-spacing: 0.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  .mapImage {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-image: url("../assets/images/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 79%;

    @include mobile {
      top: 70%;
      width: 90%;
      height: 100%;
      border-radius: 0%;
      background-size: contain;
    }
  }

  .viewBtn {
    position: absolute;
    bottom: 50px;
    left: 15%;
    @include btn-class;
    color: #22401e;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
  }
}

.amnetiesSection {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 40px 20px;

  @include mobile {
    gap: 20px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }
    .amnetiesHeader {
      color: #8c6542;
      font-family: Platform;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.8px;

      @include mobile {
        font-size: 28px;
      }
    }

    .amnetiesText {
      color: #8c6542;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: -0.56px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  .exploreBtn {
    @include btn-class;
    border-radius: 5px;
    background: #22401e;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 282px;
    height: 54px;
  }
}

.middleSection {
  display: flex;
  height: 640px;
  margin-top: 50px;

  @include mobile {
    margin-top: 20px;
  }

  @include mobile {
    height: 500px;
    &_1 {
      width: 50%;
      flex: none !important;
      height: 500px;
    }

    &_2 {
      width: 50%;
      flex: none !important;
      height: 500px;
    }
  }

  &_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    background-color: #7a8c51;
    @include mobile {
      gap: 20px;
    }
  }

  &_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    background-color: #8c6542;

    @include mobile {
      gap: 20px;
    }
  }

  .textSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.64px;

    @include mobile {
      font-size: 14px;
      line-height: 20px;
      gap: 3px;
    }
    &_1 {
    }

    &_2 {
    }
  }
}

.playSection {
  display: flex;
  width: 100%;
  gap: 16px;
  height: 640px;
  position: relative;
  top: -15px;

  @include mobile {
    overflow-x: auto;
    gap: 2px;
    margin-top: 0;
    height: 369px;
  }

  &_1 {
    position: relative;
    background-image: url("../public/images/Elixir_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(
        170deg,
        rgba(29, 29, 31, 0) 7.56%,
        #1d1d1f 90%
      );
    }
    @include mobile {
      min-width: 33vw;
      background-image: url("../public/images/Elixir_1_mobile.png");
    }
  }

  &_2 {
    position: relative;
    background-image: url("../public/images/Elixir_3.png");
    // background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(
        170deg,
        rgba(29, 29, 31, 0) 7.56%,
        #1d1d1f 90%
      );
    }
    @include mobile {
      min-width: 33vw;
      background-image: url("../public/images/Elixir_3_mobile.png");
    }
  }

  &_3 {
    position: relative;
    background-image: url("../public/images/Elixir_2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(
        170deg,
        rgba(29, 29, 31, 0) 7.56%,
        #1d1d1f 90%
      );
    }

    @include mobile {
      min-width: 33vw;
      background-image: url("../public/images/Elixir_2_mobile.png");
    }
  }

  .sectionText {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.96px;
    @include mobile {
      font-size: 12px;
      left: 5px;
      bottom: 5px;
    }
  }
}
