@import "styles/colors";
@import "styles/mixins";

.container {
  height: 100%;
  background: linear-gradient(
    168deg,
    rgba(29, 29, 31, 0.18) 0%,
    rgba(29, 29, 31, 0.02) 100%
  );
  backdrop-filter: blur(27.5px);
  padding: 34px 80px;

  @include mobile {
    padding: 34px 20px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .text {
      color: #22401e;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.8px;

      @include mobile {
        font-size: 28px;
      }
    }

    .crossBtn {
      @include btn-class;
    }

    @include mobile {
      width: 100%;
    }
  }

  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 20px;
    justify-content: center;
  }
}
